/SortingWithBitset/cmake-build-debug/
/SortingWithBitset/.idea/
Hashing/cmake-build-debug/

SearchInText/cmake-build-debug/

SearchInText/.idea/

BinaryTree/.idea/

BinaryTree/cmake-build-debug/

YensAlgorithm/.idea/

YensAlgorithm/cmake-build-debug
CompressionAlgorithms/.idea/

CompressionAlgorithms/cmake-build-debug/

Strategies/.idea/

Strategies/cmake-build-debug/
